# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.pyc

# Arquivos do VS Code
.vscode/

# Ignorar tudo dentro de output
output/*

# Mas manter gráficos e base tratada
!output/*.png
!output/base_tratada.csv

# Sistema
.DS_Store
Thumbs.db